<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>Find</title>
		<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/iconfont/material-icons.css"/>
		<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/css/FindPassword.css?v=20171206"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/lib/respond.min.js"></script>
	    <![endif]-->
		
	</head>
<body>
	
	<div class="container-fluid">
		<div class="row find-banner"></div>
		<div class="row find-content">
			<div class="find-content-box">
				<div class="find-title">忘记密码</div>
				<div class="login-back-btn">返回登录</div>
				<ul class="find-progress clearbox">
					<li class="progress-line line-one"></li>
					<li class="progress-line line-two"></li>
					<li class="progress-line line-three"></li>
				</ul>
				<div class="step-box clearbox">
					<div class="step-item step-one">
						验证邮箱/手机号码
						<div class="step-number">1</div>
					</div>
					<div class="step-item step-two">
						成功找回密码
						<div class="step-number">2</div>
					</div>
				</div>
				<div class="form-box">
					<div class="input-box">
						<input type="text" class="input-item phone-number" placeholder="请输入注册手机号" maxlength="11"/>
					</div>
					<div class="phone-tips find-tips"></div>
					<div class="input-box">
						<input type="text" class="input-item test-code" placeholder="请输入验证码" maxlength="6"/>
						<div class="get-code-btn">获取验证码</div>
					</div>
					<div class="code-tips find-tips"></div>
					<div class="input-box">
						<input type="password" class="input-item new-password" placeholder="请输入新密码" maxlength="20"/>
					</div>
					<div class="password-tips find-tips"></div>
					<div class="input-box">
						<input type="password" class="input-item repeat-password" placeholder="请确认您的新密码" maxlength="20"/>
					</div>
					<div class="repeat-tips find-tips"></div>
					<div class="confirm-btn find-btn">确认</div>
				</div>
				<div class="find-success-box">
					<div class="success-img"></div>
					<div class="success-msg">恭喜您~成功找回密码！</div>
					<div class="back-index-btn find-btn">返回首页</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
	<script src="../../Scripts/lib/communication.js"></script>
	<script src="../../Scripts/js/FindPassword.js?v=20171221"></script>

</body>
</html>
