
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>智慧生涯--服务介绍</title>

    <!-- Public Header -->
	<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
	<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../Content/css/Template.css?v=20180122"/>
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css"/>

    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
	<script src="../../Scripts/js/Template.js?v=20180301"></script>
	<script src="../../Scripts/lib/babel.min.js"></script>

	<!--[if lt IE 9]>
	    <script src="../../Scripts/lib/html5shiv.min.js"></script>
	    <script src="../../Scripts/lib/respond.min.js"></script>
	<![endif]-->

    <!-- Private Header -->
    
    <link rel="stylesheet" href="../../Content/fontfamily/NotoSansCJKsc-Light.css" />
    <link rel="stylesheet" href="../../Content/css/Serve.css?v=20180206" />

</head>
<body>
    <!--Page Public -->
	<div class="container-fluid" id="app">
        <!-- Top -->
		<header class="row">
			<div class="row top-box top-width">
				<div class="top-logo"><a href="Index.html"></a></div>
				<ul class="top-nav clearbox">
					<li class="top-nav-item"><a href="../Assessment/Index.html">职位兴趣</a></li>
					<li class="top-nav-item"><a href="../Job/List.html">我的职位</a></li>
					<li class="top-nav-item"><a href="../Home/Serve.html">服务内容</a></li>
					<li class="top-nav-item"><a href="../Home/About.html">关于我们</a></li>
                        <li class="top-nav-item lr-success">
                            <a href="../Resume/Index.html">
                            <img src="/UserPhoto/aa1517577133806.png" class="success-img" onerror="nofind();"/>
                            </a>
                            <div class="backstage-entrance-container">
							    <div class="backstage-entrance">
								    <div class="entrance-wrapper">
									    <div class="entrance-top clearbox">
										    <img src="/UserPhoto/aa1517577133806.png" class="entrance-img" onerror="nofind();"/>
										    <div class="entrance-name overflow-text">13761646494</div>
										    <div class="entrance-edit-btn"><a href="../Resume/Index.html" id="entrance-edit-href">修改资料</a></div>
									    </div>
									    <ul class="entrance-href-box clearbox">
										    <li class="entrance-href-item"><a href="../My/MyCollection.html">收藏职位</a></li>
										    <li class="entrance-href-item"><a href="../My/MyJob.html">投递职位</a></li>
										    <li class="entrance-href-item"><a href="../Resume/Index.html">我的简历</a></li>
                                            <li class="entrance-href-item"><a href="../My/MyAssessment.html">我的测评</a></li>
                                            <li class="entrance-href-item"><a href="../My/MyOrder.html">我的订单</a></li>
									    </ul>
									    <div class="entrance-back-btn login-exit">安全退出</div>
								    </div>
							    </div>
						    </div>
                        </li>
                    <li class="top-nav-item top-nav-call" style="display:block;">
						<div class="top-call-msg top-call-text">求职小助手</div>
						<div class="top-call-num top-call-text">+86 400 123 4567</div>
					</li>
				</ul>
			</div>
		</header>

        <!--********************************************Page Private************************************-->
        
<!-- Banner-->
<div class="row top-banner">
    <div class="banner-content">
        <div class="banner-title">
            我们的服务产品</div>
        <div class="banner-msg">
            挖掘能力亮点，分析职业诉求，精心定制求职方案。一对一线上线下服务，挖掘你的职业竞争力！</div>
        <div class="pay-serve-btn">
            了解服务详情</div>
    </div>
</div>
<!-- Content -->
<section class="row">
	<!-- 理想工作 -->
	<div class="work-box" id="serve-content">
		<ul class="work-container clearbox">
			<li class="work-item">
				<div class="work-item-title">最全面的行业名企覆盖</div>
				<div class="work-item-msg">投行/银行/互联网公司/....你耳熟能详的名企，行业专家为你提供一对一辅导</div>
			</li>
			<li class="work-item">
				<div class="work-item-title">最实用的求职技能辅导</div>
				<div class="work-item-msg">模拟面试、行业技能、案例分析...，杜绝一切假大空，专家只讲行业FAQ</div>
			</li>
			<li class="work-item">
				<div class="work-item-title">最深度的岗位知识分享</div>
				<div class="work-item-msg">无论你希望从事什么岗位工作，我们专家将给你深度解析岗位的工作日常与前景</div>
			</li>
		</ul>
	</div>
	<!-- 服务内容 -->
	<div class="serve-box clearbox">
		<ul class="serve-container clearbox">
			<li class="serve-item">
				<div class="serve-item-top">
					<div class="serve-item-title">职业测评服务产品</div>
					<div class="serve-item-price">￥598</div>
				</div>
				<ul class="serve-list">
					<li class="serve-list-item">全程1V1线上线下服务</li>
					<li class="serve-list-item">职业兴趣发现</li>			
                    <li class="serve-list-item">职业潜能发现</li>
					<li class="serve-list-item">职业竞争力挖掘</li>
					<li class="serve-list-item">报告解读</li>
					<li class="serve-list-item">职业分析</li>
					<li class="serve-list-item">职场定位</li>
					<li class="serve-list-item">职业推荐</li>
					<li class="serve-list-item">职业优势</li>
					<li class="serve-list-item">发展建议</li>
					<li class="serve-list-item">职业适配</li>
				</ul>
				<div class="serve-btn"><a href="../Order/Buy.html?ID=1">购买产品</a></div>
			</li>
			<li class="serve-item">
				<div class="serve-item-top">
					<div class="serve-item-title">实习服务产品</div>
					<div class="serve-item-price">￥9988</div>
				</div>
				<ul class="serve-list">
					<li class="serve-list-item">全程1V1线上线下服务</li>
					<li class="serve-list-item">职业测评服务（O2O）</li>
					<li class="serve-list-item">职业发展规划</li>
					<li class="serve-list-item">定向职位攻略</li>
					<li class="serve-list-item">实习岗位培训计划（O2O）</li>
					<li class="serve-list-item">多轮简历优化辅导（O2O）</li>
					<li class="serve-list-item">多轮笔试面试辅导（O2O）</li>
					<li class="serve-list-item">意向企业实习</li>
					<li class="serve-list-item">意向职位面试</li>
				</ul>
				<div class="serve-btn"><a href="../Order/Buy.html?ID=2">购买产品</a></div>
			</li>
					
			<li class="serve-item">
				<div class="serve-item-top">
					<div class="serve-item-title">全职服务产品</div>
					<div class="serve-item-price">￥21888</div>
				</div>
				<ul class="serve-list">
					<li class="serve-list-item">全程1V1线上线下服务</li>
					<li class="serve-list-item">职业测评服务（O2O）</li>
					<li class="serve-list-item">职业发展规划（中英文）</li>
					<li class="serve-list-item">定向职位攻略</li>
					<li class="serve-list-item">行业/公司/职位研究辅导</li>
					<li class="serve-list-item">OFFER比对分析</li>
					<li class="serve-list-item">薪酬绩效分析</li>
					<li class="serve-list-item">职业培训计划（O2O）</li>
					<li class="serve-list-item">意向职位合同谈判（O2O）</li>
			
					<li class="serve-list-item">意向职位面试</li>
					<li class="serve-list-item">全职OFFER</li>
				</ul>
				<div class="serve-btn"><a href="../Order/Buy.html?ID=3">购买产品</a></div>
			</li>
			<li class="serve-item">
				<div class="serve-item-top">
					<div class="serve-item-title">职业+服务产品</div>
					<div class="serve-item-price">￥1688</div>
				</div>
				<ul class="serve-list">
					<li class="serve-list-item">全程1V1线上线下服务</li>
					<li class="serve-list-item">入职心理辅导</li>
					<li class="serve-list-item">试用期工作辅导</li>
					<li class="serve-list-item">与压力快乐同行</li>
					<li class="serve-list-item">职场成功经验沙龙（O2O）</li>
					<li class="serve-list-item">行业百宝箱（O2O）</li>
					<li class="serve-list-item">职位解密仪（O2O）</li>
				</ul>
				<div class="serve-btn"><a href="../Order/Buy.html?ID=4">购买产品</a></div>
			</li>
		</ul>
	</div>
</section>
<!-- 侧边栏弹窗 -->
<div class="flo-consult">
    <div class="flo-consult-container">
        <div class="consult-close-btn">
        </div>
        <div class="flo-consult-left">
        </div>
        <div class="flo-consult-right clearbox">
            <div class="flo-consult-title">
                <span>官方微信顾问 </span><span>为您提供1V1答疑解惑服务</span>
            </div>
            <div class="flo-consult-text">
                有职场招聘经验的求职顾问小助手，找工作真给力！</div>
            <div class="flo-consult-weixin-box clearbox">
                <div class="flo-consult-weixin">
                </div>
                <div class="flo-consult-msg">
                    <div class="flo-consult-msg01">
                        求职顾问小助手</div>
                    <div class="flo-consult-msg02">
                        - 求职顾问为您服务</div>
                    <div class="flo-consult-msg02">
                        - 获取当月优惠折扣</div>
                    <div class="flo-consult-msg02">
                        - 掌握留学生求职攻略</div>
                </div>
            </div>
            <div class="flo-consult-btn" v-bind:class="{'consult-login-btn':!loginKey,'consult-logined-btn':loginKey}" v-html="loginKey?'已登录':'立即登录'"><!--立即登录--></div>
            <div class="flo-consult-btn consult-know-btn">我知道啦</div>
        </div>
    </div>
</div>
<!-- 咨询 -->
<div class="consult">
    有疑问?点我问！</div>

        <!--********************************************Page Private End*********************************-->
        
        <!-- aside -->
		<aside>
			<div class="aside-container">
				<div class="aside-back-top aside-item">TOP</div>
				<div class="aside-call aside-item">
					<i class="material-icons">&#xE0B0;</i>
				</div>
				<div class="aside-weixin aside-item">
					<i class="fa fa-weixin" aria-hidden="true"></i>
				</div>
				<div class="aside-share aside-item">
					<i class="material-icons">&#xE80D;</i>
				</div>
			</div>
		</aside>

        <!-- Login and Register Dialog -->
		<div class="lr-container">
			<div class="lr-wrapper">
				<div class="lr-box">
					<div class="lr-cancel"></div>
					<div class="lr-btn-box clearbox">
						<div class="login-btn lr-btn">
							登录
							<div class="btn-line"></div>
						</div>
						<div class="register-btn lr-btn">
							注册
							<div class="btn-line"></div>
						</div>
					</div>
					<div class="login-box">
						<div class="login-title">欢迎登录Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item login-phone" placeholder="请输入登录手机号" maxlength="11"/>
							</div>
							<div class="login-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item login-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="28"/>
							</div>
							<div class="login-password-tips lr-tips"></div>
							<div class="rf-box clearbox">
								<div class="remember-password-box lr-checkbox-box">
									<div class="yes rp-yes lr-checkbox"></div>
									<div class="no rp-no lr-checkbox"></div>
									<div class="rp-text lr-text">记住密码</div>
								</div>
								<div class="forget-password-box lr-text">忘记密码？</div>
							</div>
							<div class="lr-login-btn lr-confirm-btn">登录</div>
						</div>
					</div>
					<div class="register-box">
						<div class="register-title">欢迎注册Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item register-username" placeholder="请输入用户名" maxlength="20"/>
							</div>
							<div class="register-username-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item register-phone" placeholder="请输入注册手机号" maxlength="11"/>
							</div>
							<div class="register-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item test-code" placeholder="请输入您收到的验证码" maxlength="6"/>
								<div class="get-code-btn">获取验证码</div>
							</div>
							<div class="code-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item register-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="20"/>
							</div>
							<div class="register-password-tips lr-tips"></div>
							<div class="protocol-box lr-checkbox-box">
								<div class="yes protocol-yes lr-checkbox"></div>
								<div class="no protocol-no lr-checkbox"></div>
								<div class="lr-text">同意《<a href="../../Registration.html" target="_blank">Career Success注册协议</a>》</div>
							</div>
                            <div class="register-protocol-tips lr-tips"></div>
							<div class="lr-register-btn-box clearbox">
								<div class="complate-msg-btn">注册</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
		<!-- Bottom -->
		<footer class="row">
			<div class="foot-box">
				<div class="foot-left">
					<ul class="foot-href">
						<li class="foot-href-item"><a href="">网站首页</a></li>
						<li class="foot-href-item"><a href="">企业合作</a></li>
						<li class="foot-href-item"><a href="">人才招聘</a></li>
						<li class="foot-href-item"><a href="">联系我们</a></li>
						<li class="foot-href-item"><a href="">讲师招募</a></li>
						<li class="foot-href-item"><a href="">常见问题</a></li>
						<li class="foot-href-item"><a href="">意见反馈</a></li>
						<li class="foot-href-item"><a href="">友情链接</a></li>
					</ul>
					<div class="about-other">©肯耐珂萨 2018 | 沪ICP备09051952号-2</div>
				</div>
				<ul class="foot-right">
					<li class="foot-right-item foot-weixin">
						<i class="fa fa-weixin" aria-hidden="true"></i>
					</li>
					<li class="foot-right-item foot-recommend">
						<i class="material-icons">&#xE0BF;</i>
					</li>
					<li class="foot-right-item foot-call">
						<i class="material-icons">&#xE0B0;</i>
					</li>
				</ul>
			</div>
		</footer>   
	</div>
    <!-- Public JS -->
    <script type="text/javascript">
        //注册登陆key值
        var isLogin = "True";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }
    </script>
	
    <!-- Private JS -->
    
    <script src="../../Scripts/js/Serve.js?v=20180206" type="text/babel"></script>
    <script type="text/javascript">
        var ProductList = JSON.parse('');
    </script>


</body>
</html>
