@charset "utf-8";
/******************************Banner****************************/
.top-banner {
	position:relative;
	width:100%;
	height:374px;
	background:url(../img/assessment_banner.png)no-repeat center center;
	background-size:cover;
}

.top-banner .banner-content{
	position:relative;
	margin:0 auto;
	width:980px;
	height:100%;
}

.banner-content .assessment-name{
	font-family:"NotoSansCJKsc-Light";
	padding-top:100px;
	line-height:50px;
  	font-size: 34px;
  	font-weight:300;
  	text-align: left;
  	color: #ffbf00;
}

.banner-content .assessment-msg{
	font-family:"NotoSansCJKsc-Light";
	padding-top:20px;
	width:618px;
	line-height:24px;
  	font-size: 16px;
  	text-align: left;
  	color: #fff;
}

.banner-content .assessment-begin-btn{
	margin-top:30px;
	width: 180px;
  	height: 45px;
  	background-color: #ffbf00;
  	line-height:45px;
  	text-align:center;
  	color:#fff;
  	font-size:14px;
  	background:#ffbf00;
  	cursor:pointer;
}

.banner-content .position-address{
	margin-top:30px;
  	font-size: 14px;
  	letter-spacing: 2px;
  	text-align: left;
  	color: #ffffff;
}

.banner-content .banner-icon{
	position:absolute;
	top:120px;
	right:50px;
	width: 150px;
  	height: 130px;
  	background:url(../img/assessment_icon.png)no-repeat center center;
  	background-size:100% 100%;
}

.banner-content .assessment-begin-btn:hover{
	background-color:#ffb400;
}

.banner-content .assessment-num-box{
	position:absolute;
	top:280px;
	right:-30px;
	width: 300px;
	text-align:center;
	font-size:14px;
	color:#fff;
}

.banner-content .assessment-num-box .assessment-num{
	color:#ee5c54;
}


/***************************Content***********************/
section{
	position:relative;
	background:url(../img/assessment_index_bg.jpg)no-repeat center center;
	background-size:100% 100%;
}

section .content-top{
	width:100%;
	height: 60px;
	line-height:60px;
  	background-color: #ffd46c;
}

.content-top .top-container{
	margin:0 auto;
	width:999px;
	height:60px;
	line-height:60px;
}

.top-container .tip-item{
	position:relative;
	float:left;
	padding-left:20px;
	width:333px;
	height:100%;
	text-align:center;
	font-size:14px;
	color:#000;
}

.top-container .tip-item .tip-text{
	display:inline-block;
	position:relative;
}

.top-container .tip-item .tip-text::before{
	position:absolute;
	top:17px;
	left:-35px;
	content:"";
	width:24px;
	height:24px;
	border-radius:100%;
	border:2px solid #696969;
}

.top-container .tip-item .tip-text::after{
	position:absolute;
	top: 24px;
    left: -30px;
    content: "";
    width: 13px;
    height: 6px;
	border:2px solid #333;
	border-right:none;
	border-top:none;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

section .content-box{
	position:relative;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:200px;
	width:1110px;
	height:1000px;
}

/**********************右侧提示块***********************/
.content-box .content-tip{
	display:block;
	position:absolute;
	top:0;
	right:0;
	width: 270px;
 	height: 340px;
  	background-color: #ffffff;
  	z-index:10;
  	overflow:hidden;
}

.content-box .content-tip-show{
	width:0;
}

.content-tip .tip-header{
	position:relative;
	width: 100%;
  	height: 60px;
  	line-height:60px;
  	text-align:center;
  	font-size:16px;
  	color:#ee5c54;
  	background-color: #ffffff;
  	box-shadow: 0 1px 1px 0 #e7e7e7;
}

.tip-header .tip-cancel{
	display:inline-block;
	position:absolute;
	top:10px;
	right:15px;
	width:25px;
	height:25px;
	cursor:pointer;
}

.tip-header .tip-cancel::before{
	position:absolute;
	top: 12px;
    right: 2px;
	content:"";
	width:20px;
	height:1px;
	background:#acacac;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.tip-header .tip-cancel::after{
	position:absolute;
	top: 2px;
    right: 12px;
	content:"";
	height:20px;
	width:1px;
	background:#acacac;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.content-tip .tip-list{
	padding:10px 20px;
	width:100%;
}

.tip-list .tip-text{
	padding-top:20px;
	font-size:14px;
	color:#6d6d6d;
}

/**********************左侧测评块***********************/
.content-box .content-wrapper{
	position:absolute;
	top:0;
	left:0;
	margin-left:56px;
	padding:0 30px 30px 30px;
	margin-bottom:100px;
	width:776px;
	border-radius: 4px;
  	background-color: #ffffff;
  	box-shadow: 0 2px 6px 0 rgba(209, 209, 209, 0.5);
	z-index:10;
}

.content-box .content-wrapper-show{
	width:1000px;
}

.content-box .content-wrapper-width{
	width:1000px;
}

.content-wrapper .content-container{
	display:block;
	position:relative;
	width:100%;
	height:100%;
}

.content-container .content-header{
	position:relative;
	width:100%;
	height:90px;
	text-align:center;
	line-height:90px;
	border-bottom: dashed 1px #e1e1e1;
	font-size:20px;
	color:#0099e5;
}

.content-header .question-num{
	display:inline-block;
	position:absolute;
	top:40px;
	right:107px;
	line-height:20px;
	font-size:14px;
	color:#b4b4b4;
}

.content-header .notice-btn{
	display:inline-block;
	position:absolute;
	top:0;
	right:20px;
	line-height: 20px;
    padding: 9px 5px;
	width: 45px;
  	height: 72px;
  	background:url(../img/assessment_icon2.png)no-repeat center center;
  	background-size:100% 100%;
  	text-align:center;
  	font-size:12px;
  	color:#fff;
  	letter-spacing: 0.8px;
  	cursor:pointer;
}

.content-container .asssessment-list-total{
	position:relative;
	margin:30px auto;
	width:100%;
}

.asssessment-list-total .assessment-list-page{
	position:relative;
	width:100%;
	height:100%;
}

.asssessment-list-page .assessment-list{
	position:relative;
	width:100%;
	height:100%;
}

.assessment-list .assessment-item{
	position:relative;
	margin-bottom:5px;
	padding:0 15px;
	width:100%;
	height: 45px;
  	border-radius: 4px;
  	background-color: rgba(0, 0, 0, 0);
  	border: solid 1px #dfdfdf;
  	line-height:45px;
  	font-size:14px;
  	text-align:left;
  	color:#6d6d6d;
}

.content-container .assessment-btn{
	position:absolute;
	bottom:-120px;
	width: 120px;
  	height: 45px;
  	line-height:45px;
  	text-align:center;
  	font-size: 16px;
  	color: #ffffff;
  	cursor:pointer;
}

.content-container .assessment-submit-btn{
	left:220px;
  	background-color: #0099e5;
}

.content-container .assessment-submit-btn{
	background:#0099ff;
}

.content-container .assessment-reset-btn{
	right:220px;
  	background-color: #cbcbcb;
}

.assessment-item .assessment-radio{
	display:block;
	position:relative;
	margin:15px 50px 0 0;
	float:right;
	width: 14px;
  	height: 14px;
  	border-radius: 2px;
 	border: solid 1px #c0ccda;
 	background:transparent;
    outline: 0 !important;
    font-size:12px;
}

.assessment-item .assessment-no{
	margin-right:20px;
}

.assessment-item .radio-text{
	position:absolute;
	width: 23px;
    padding-left: 7px;
	font-size:12px;
	color:#6d6d6d;
	text-align:left;
}

.assessment-item .yes-text{
	top:0px;
	right:78px;
}

.assessment-item .no-text{
	top:0px;
	right:14px;
}

input[type=radio]{
    position: relative;
    margin: 0;
    padding: 0;
    width: 14px;
    height: 14px;
    outline: 0 !important;
    cursor: pointer;
    border: 1px solid #108cee;
    resize:none;
    
    -webkit-appearance: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

input[type=radio]:checked {
    background-color: #108cee;
}

input[type=radio]:checked:before {
	position: absolute;
    top: 3px;
    left: 2px;
    width: 8px;
    height: 4px;
    content: '';
    color: #fff;
    border-bottom: solid 2px #fff;
    border-left: solid 2px #fff;
    outline:none;
    resize:none;
    
    -ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
    transform: rotate(-45deg);
}

.content-box .flo-piece{
	position:absolute;
}

.content-container .flo-piece{
	position:absolute;
}

.content-box .line{
	width:25px;
	height:1px;
	background:#0099e5;
	
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}

.content-box .circle{
	width:25px;
	height:25px;
	border:1px solid #0099e5;
	border-radius:100%;
}

.content-box .square{
	width:20px;
	height:20px;
	background:#0099e5;
	
	transform:rotate(-55deg);
	-ms-transform:rotate(-55deg); 	/* IE 9 */
	-moz-transform:rotate(-55deg); 	/* Firefox */
	-webkit-transform:rotate(-55deg); /* Safari 和 Chrome */
	-o-transform:rotate(-55deg); 	/* Opera */
}

.content-box .one{
	width:30px;
	top:-10px;
	left:100px;
	z-index:9;
}

.content-box .two{
	top:167px;
	left:35px;
	z-index:11;
}

.content-box .three{
	bottom:230px;
	left:-60px;
	z-index:11;
}

.content-box .four{
	bottom: 207px;
    left: -68px;
	z-index:11;
}

.content-wrapper .five{
	top:230px;
    right:-20px;
	z-index:9;
	
	transform:rotate(-55deg);
	-ms-transform:rotate(-55deg); 	/* IE 9 */
	-moz-transform:rotate(-55deg); 	/* Firefox */
	-webkit-transform:rotate(-55deg); /* Safari 和 Chrome */
	-o-transform:rotate(-55deg); 	/* Opera */
}

.content-wrapper .six{
	width:16px;
	height:16px;
	top:410px;
    right:-40px;
	z-index:9;
	opacity:0.9;
	background:#97ccf4;
	
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); 	/* IE 9 */
	-moz-transform:rotate(15deg); 	/* Firefox */
	-webkit-transform:rotate(15deg); /* Safari 和 Chrome */
	-o-transform:rotate(15deg); 	/* Opera */
}

.content-wrapper .seven{
	width:16px;
	height:16px;
	top:420px;
    right:-45px;
	z-index:9;
	opacity:0.9;
	background:#97ccf4;
	
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); 	/* IE 9 */
	-moz-transform:rotate(15deg); 	/* Firefox */
	-webkit-transform:rotate(15deg); /* Safari 和 Chrome */
	-o-transform:rotate(15deg); 	/* Opera */
}

.content-wrapper .eight{
	bottom: 130px;
    right: -16px;
	z-index:11;
}

.content-wrapper .nine{
	bottom:-6px;
	right:200px;
	z-index:11;
	
	transform:rotate(-50deg);
	-ms-transform:rotate(-50deg); 	/* IE 9 */
	-moz-transform:rotate(-50deg); 	/* Firefox */
	-webkit-transform:rotate(-50deg); /* Safari 和 Chrome */
	-o-transform:rotate(-50deg); 	/* Opera */
}

/****************浮动导航*********************/
section .content-nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 0;
  	opacity: 0;
  	background-color: #1a1b1f;
  	z-index:100;
  	
  	transition:all 0.3s;
	-moz-transition:all 0.3s;	/* Firefox 4 */
	-webkit-transition:all 0.3s;	/* Safari 和 Chrome */
	-o-transition:all 0.3s;	/* Opera */
  	
}

.nav-scroll{
   	opacity:0.8;
   	height:60px;
}

.content-nav .assessment-nav-container{
	margin:0 auto;
	width:1000px;
	height:60px;
}

.assessment-nav-container span{
	display:inline-block;
}

.assessment-nav-container .assessment-nav-title{
	float:left;
	height:60px;
	line-height:60px;
	font-size:20px;
	color:#fff;
}

.assessment-nav-container #indicatorContainer{
	float:left;
	margin-top:8px;
	margin-left:30px;
	width:44px;
	height:44px;
}

.assessment-nav-container #indicatorContainer canvas{
	width:44px;
	height:44px;
  	font-size: 20px;
  	line-height: 30;
  	text-align: center;
  	color: #fff;
}

.assessment-nav-container .assessment-back-btn{
	margin-top:15px;
	float:right;
	width: 95px;
  	height: 30px;
  	line-height:28px;
  	border-radius: 2px;
  	background-color: rgba(0, 0, 0, 0);
  	border: solid 1px #f8f8f8;
  	font-size:14px;
  	color:#fff;
  	text-align:center;
  	cursor:pointer;
}

.assessment-nav-container .assessment-back-btn a{
	display:block;
	font-size:14px;
  	color:#fff;
  	text-align:center;
}

/*****************提示登陆**********************/
.content-wrapper .prompt-login{
	position:relative;
	margin:0 auto;
	width:100%;
	height:100%;
}

.prompt-login .prompt-title{
	margin-top:170px;
	font-size:24px;
	text-align:center;
	color:#0099e5;
	letter-spacing: 1.7px;
}

.prompt-login .prompt-bg{
	margin:0 auto;
	width:260px;
	height:260px;
	background:url(../img/prompt_login_icon.png)no-repeat center center;
	background-size:100% 100%;
}

.prompt-login .prompt-msg{
	margin-top:10px;
	font-size:14px;
	color:#6d6d6d;
	text-align:center;
}

.prompt-login .prompt-login-btn{
	margin:0 auto;
	margin-top:30px;
	width: 208px;
  	height: 45px;
  	line-height:45px;
  	border-radius: 2px;
  	background-color: #0099e5;
  	font-size:14px;
  	color:#fff;
  	text-align:center;
  	cursor:pointer;
}

.prompt-login .prompt-back-btn{
	position:absolute;
	top: 355px;
    right: 165px;
	width:80px;
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:14px;
	color:#b1b1b1;
	cursor:pointer;
}

/**************************测评报告*****************************/
.content-wrapper .assessment-report{
	position:relative;
	margin:0 auto;
	width:100%;
	height:100%;
}

.assessment-report .report-title{
	padding:0 30px;
	height:90px;
	line-height:90px;
	font-size:20px;
	color:#ffbf00;
	text-align:center;
	border-bottom:1px dashed #e1e1e1;
}

.assessment-report .report-msg{
	padding:30px 90px 50px 90px;
	text-align:left;
	font-size:14px;
	color:#6d6d6d;
	letter-spacing: 1px;
}

.assessment-report .report-box{
	position:relative;
	padding:0 120px 0 160px;
}

.report-box .report-left{
	float:left;
	margin-bottom:50px;
	padding:0 15px;
	width: 210px;
  	height: 302px;
  	border-radius: 2px;
  	background-color: #ffffff;
  	box-shadow: 0 2px 6px 1px rgba(210, 235, 250, 0.5), 0 -2px 0 0 #0099e5;
	border-top:1px solid #0099e5;
}

.report-left .report-item{
	padding-top:15px;
	width:100%;
	height:100px;
	border-bottom:1px solid #e5e5e5;
}

.report-left .report-item:last-child{
	border:none;
}

.report-item .item-title{
	height:20px;
	line-height:20px;
	font-size:14px;
	color:#6d6d6d;
	text-align:left;
}

.report-item .item-content{
	margin-top:8px;
	height:38px;
	line-height:38px;
	font-size:26px;
	color:#69a2cd;
	text-align:center;
}

.report-box .report-right{
	margin-top:-50px;
	position:relative;
	float:right;
}

.assessment-report .report-theme{
	position:relative;
	margin:0 auto;
	margin-top:50px;
	padding:50px 30px 30px 30px;
	width:760px;
	border-radius: 2px;
  	background-color: #f9fbfd;
  	letter-spacing: 0.9px;
	font-size:14px;
	text-align:left;
}

.report-theme .theme-title{
	position:absolute;
	top:-20px;
	left:35px;
	width: 120px;
  	height: 45px;
  	line-height:38px;
  	opacity: 0.9;
  	background-color: #74bef5;
  	font-size:16px;
  	text-align:center;
  	color:#fff;
}

.report-theme .theme-title::before{
	position:absolute;
	top:-4px;
	left:-4px;
	content:"";
	width:100%;
	height:100%;
	border:1px dashed #0099e4;
}

.report-theme .theme-msg{
	padding-bottom:5px;
	color:#333;
}

.report-theme .theme-content{
	color:#6d6d6d;
}

.assessment-report .report-back-btn{
	position:absolute;
	bottom:-100px;
	left:50%;
	margin-left:-50px;
	width: 120px;
  	height: 45px;
  	border-radius: 2px;
  	background-color: #0099e5;
  	line-height:45px;
  	font-size:14px;
  	text-align:center;
  	color:#fff;
  	cursor:pointer;
}

.assessment-report .report-back-btn a{
	display:block;
	font-size:14px;
  	text-align:center;
  	color:#fff;
  	cursor:pointer;
}

.assessment-report .report-back-btn:hover{
	background:#0099d5;
}


/***************************分页**************************/
.tcdPageCode{
	padding: 15px 20px;
	text-align: left;
	color: #ccc;
	text-align:center;
}

.tcdPageCode a{
	display: inline-block;
	padding: 0 10px;
	margin: 0 5px;
	height: 35px;
	line-height: 35px;
	background-color: #ffffff;
  	border: solid 1px #e5e5e5;
  	font-size: 16px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #6d6d6d;
	vertical-align: middle;
}

.tcdPageCode a:hover{
	text-decoration: none;
	border: 1px solid #ffbf00;
}

.tcdPageCode span.current{
	display: inline-block;
	padding: 0 10px;
	margin: 0 5px;
	height: 35px;
	line-height: 35px;
	background-color: #ffbf00;
  	border: solid 1px #ffbf00;
  	font-size: 16px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #fff;
	vertical-align: middle;
}

.tcdPageCode span.disabled{	
	display: inline-block;
	padding: 0 10px;
	margin: 0 5px;
	height: 35px;
	line-height: 35px;
  	font-size: 16px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #fff;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	vertical-align: middle;
}





