@charset "utf-8";
html,body{
    width:100%;
    height:100%;    
}
/******************************Banner****************************/
.top-banner {
	padding-top:32px;
	position:relative;
	height:164px;
	background:url(../img/buy_index_icon.jpg)no-repeat center center;
	background-size:cover;
	font-family:"NotoSansCJKsc-Light";
	font-size:32px;
	color:#000;
	text-align:center;
	font-weight:300;
}


/***************************Content***********************/
section{
	position:relative;
	background:#f5f5f5;
}

section .success-container{
	margin:0 auto;
	margin-bottom:60px;
	margin-top:-57px;
	padding:60px 45px;
	width:1200px;
	border-radius: 4px;
  	background-color: #fff;
  	box-shadow: 0 2px 7px 0 rgba(222, 222, 222, 0.5);
  	border: solid 1px #ececec;
}

.success-container .success-top{
	margin:0 auto;
	padding-bottom:60px;
	width:400px;
}

.success-top .success-icon{
    float:left;
    width:60px;
    height:60px;
    background:url(../../Content/img/order_success.png)no-repeat center center;
    background-size:100% 100%;
}

.success-top .success-text{
    margin-left:80px;
    width:300px;
    text-align:left;
}

.success-top .success-text .success-one{
    padding-bottom:5px;
    line-height:40px;
    font-size:28px;
    color:#34bf49;
}

.success-top .success-text .success-two{
    line-height:20px;
    font-size:14px;
    color:#939393;
}

.success-container .order-box{
	padding-top:30px;
	border-top:1px solid #ddd;
}

.order-box .order-left{
	width:400px;
	float:left;
}

.order-box .order-right{
	width:340px;
	float:right;
}

.order-box .order-msg{
	padding-left:10px;
	position:relative;
	font-size:14px;
	line-height:22px;
	color:#6d6d6d;
}

.order-box .order-msg:before{
	position:absolute;
	top:0;
	left:-1px;
	content:"*";
	font-size:14px;
	font-weight:bold;
	color:#ee5c54;
}

.order-box .order-right .order-item{
    width:100%;
	line-height:24px;
	font-size:16px;
	color:#6d6d6d;
	text-align:left;
}

.order-box .order-right .order-item span{
    display:inline-block;
    padding:0 5px;
}

.order-box .order-right .order-item .order-text{
    float:left;
}

.order-box .order-right .order-item .order-content{
    float:right;
}

.order-box .order-right .order-btn-box{
	margin-top:30px;
}

.order-box .order-right .order-btn-box .order-btn{
	float:right;
	width:120px;
	height:45px;
	line-height:41px;
	font-size:16px;
	color:#fff;
	text-align:center;
	font-weight:500;
	cursor:pointer;
	border:2px solid #0099e5;
}

.order-box .order-right .order-btn-box .order-back{
	color:#0099e5;
}

.order-box .order-right .order-btn-box .order-view{
    margin-right:30px;
	background:#0099e5;
	color:#fff;
}

.order-box .order-right .order-btn-box .order-btn a{
    display:block;
    font-size:16px;
    color:#0099e5;
	text-align:center;
	font-weight:500;
	cursor:pointer;
}

.order-box .order-right .order-btn-box .order-view:hover{
	background:#0099ff;
	border-color:#0099ff;
}

.order-box .order-right .order-btn-box .order-back:hover{
	color:#0099ff;
	border-color:#0099ff;
}


