@charset "utf-8";
/******************************初始化公共样式****************************/
*{
	padding:0;
	margin:0;
}
html,
body{
	min-width:1220px;
	margin:0;
	padding:0;
	border: 0;
	font-family:"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft Yahei" ,sans-serif;
	display:block;
	position:relative;
}

.clearfix{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
	*zoom:1;
}

ul{
	list-style:none;
	margin:0;
	padding:0;
}

a{
    text-decoration: none; 
}

a:link,
a:active,
a:visited,
a:hover{
	text-decoration:none;
}

input:-moz-placeholder,   
textarea:-moz-placeholder {   
    color: #999999;   
}   
  
input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
    color: #999999;   
}   
  
input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    color: #999999;   
}  

.container-fluid {
  	padding:0;
}

.row{
	margin:0;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
	padding:0;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
	padding:0;
}

.overflow-text{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.clearbox::after{
	display:block;
	content:"";
	clear:both;
}

.yellow{
	color:#ffbf00;
}

.red{
	color:#ee5c54;
}

.blue{
	color:#0099e5;
}

/***************************头部banner和底部footer***********************/
.find-banner{
	height:340px;
	background:url(../img/find_password_banner.png)no-repeat center center;
	background-size:cover;
}

.find-footer{
	background:#fff;
}

/***************************中间内容区content***********************/
.find-content{
	position:absolute;
	top:187px;
	left:50%;
	margin-left:-265px;
	width:530px;
	margin-bottom:100px;
	z-index:10;
	border:1px solid #e6e6e6;
	background:#fff;
}

.find-content .find-content-box{
	position:relative;
	width:100%;
	height:100%;
}

.find-content-box .find-title{
	position:absolute;
	top:-67px;
	left:0;
  	font-size: 32px;
  	letter-spacing: 1px;
  	text-align: left;
  	color: #ffffff;
}

.find-content-box .login-back-btn{
	position:absolute;
	top:-44px;
	right:0px;
	padding-right:33px;
  	font-size: 16px;
  	letter-spacing: 1px;
  	text-align: left;
  	color: #ffffff;
  	cursor:pointer;
}

.login-back-btn::before{
	position:absolute;
	top:0px;
	right:0px;
	content:"";
	width:23px;
	height:23px;
	border:1px solid #ffffff;
	border-radius:100px;
	z-index:10;
}

.login-back-btn::after{
	position:absolute;
	top:7px;
	right:9px;
	content:"";
	width:8px;
	height:8px;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	z-index:11;
	
	transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.login-back-btn:hover{
	color:#ffbf00;
}

.login-back-btn:hover::after{
	border-color:#ffbf00;
}

.login-back-btn:hover::before{
	border-color:#ffbf00;
}

.find-content-box .find-progress{
	position:relative;
	padding-top:67px;
	width:100%;
}

.find-progress .progress-line{
	float:left;
	width:176px;
	height:2px;
	background:#ffbf00;
}

.find-progress .progress-line:nth-child(3){
	background:#e5e5e5;
}

.find-content .step-box{
	margin:0 auto;
	width:370px;
}

.step-box .step-item{
	position:relative;
	padding:36px;
	color:#6d6d6d;
}

.step-box .step-one{
	float:left;
}

.step-box .step-two{
	float:right;
	color:#bababa;
}

.step-item .step-number{
	position:absolute;
	top:-24px;
	left:50%;
	margin-left:-22px;
	width:44px;
	height:44px;
	background:#fff;
	line-height:42px;
	border:1px solid #ffbf00;
  	font-size: 18px;
  	text-align: center;
  	color: #fbc02d;
  	border-radius:100px;
}

.step-box .step-two .step-number{
	color: #bababa;
	border-color:#bababa;
}

/************************input输入框部分*****************************/

.form-box{
	display:block;
	margin:0 auto;
	margin-bottom:60px;
	width:370px;
}

.form-box .input-box{
	position:relative;
	margin-top:20px;
	width:100%;
	height:45px;
}

.input-box .input-item{
	padding:10px 15px;
	width:100%;
	height:100%;
	line-height:25px;
	border:1px solid #d6d6d6;
	outline:none;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-align: left;
  	color: #333;
}

.input-box .test-code{
	float:left;
	width:275px;
	border-right:0;
}

.input-box .get-code-btn{
	float:right;
	width:94px;
	height:100%;
	border:1px solid #d6d6d6;
	line-height:43px;
  	font-size: 12px;
  	letter-spacing: 0.8px;
  	text-align: center;
  	color: #0099e5;
  	cursor:pointer;
}

.input-box .get-code-btn:hover{
	color:#0099ff;
}

.input-box .get-code-success-btn{
  	color: #999;
  	background:#ccc;
  	cursor:default;
}

.input-box .get-code-success-btn:hover{
	color:#999;
}

.find-content-box .find-btn{
	margin:0 auto;
	margin-top:60px;
	margin-bottom:60px;
	width:370px;
	height:45px;
	line-height:45px;
	background:#ffbf00;
  	font-size: 16px;
  	letter-spacing: 1px;
  	text-align: center;
  	color: #ffffff;
  	cursor:pointer;
}

.form-box .confirm-btn{
	margin-top:60px;
	margin-bottom:60px;
}

.form-box .confirm-btn:hover{
	background:#ffb400;
}

.form-box .find-tips{
	display:none;
	margin-bottom:-10px;
	line-height:20px;
  	font-size: 12px;
  	text-align: left;
  	color: #ee5c54;
}


/***************************找回成功************************************/

.find-content-box .find-success-box{
	display:none;
	margin:0 auto;
	margin-top:30px;
	width:370px;
}

.find-success-box .success-img{
	margin:0 auto;
	width:80px;
	height:60px;
	background:url(../img/find_password_success.png)no-repeat center center;
	background-size:100% 100%;
}

.find-success-box .success-msg{
	margin-top:20px;
  	font-size: 16px;
  	text-align: center;
  	color: #8f8f8f;
}

.find-success-box .back-index-btn{
	margin-top:80px;
	margin-bottom:80px;
}





